html{
    font-size:16px;
}

body{
    min-width:420px;
    margin:0px;
}

div{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* >>> headers and text <<< */

p, li, text, td{
    font-family: 'Open Sans', sans-serif;
    color:#0d2c6c;
    margin:0rem 0rem 1rem 0rem;
    line-height:1.5em;
}

.select-wrap{
    float:left;
    border:3px solid #019966;
    border-radius:13px;
    margin:0px 10px 10px 0px;
    padding-right:20px;
    position:relative;
}

select{
    background:none;
    outline:none;
    border:none;
    padding:7px 9px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
}

/*expected use: class="fb-header [section-title | chart-title]"*/
.fb-header, .fb-light-header, h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    color:#0d2c6c;
    font-weight:900;
    margin:0rem 0rem 10px 0rem;
    line-height:1.3em;
}
.fb-light-header{
    font-weight:normal;
}

.section-title{font-size:2.25rem;}
.group-title{font-size:1.75rem;}
.chart-title{font-size:1.25rem;}

.subtitle{font-style:italic;line-height:1.5em}

/*footnotes container for notes and sources*/
.footnotes{
    margin:2rem 0rem 0rem 0rem;
    position:relative;
}
.footnotes:before{
    content:"";
    position:absolute;
    width:200px;
    height:1px;
    border-top:1px solid #aaaaaa;
}
.footnotes > *{
    font-style:italic;
    color:#555555;
}

/*longer text sections*/
.reading > *{
    line-height:1.7em;
}

/* >>> graphics <<<

/*number line plots*/
.number-line-plot{
    overflow: visible;
    margin:1rem 0rem;
}


/*columns*/
.fb-center-col{
    max-width:1400px;
    margin:0px auto;
}

.green-square-wrap{
    padding:0px 15px;
}

.green-square-wrap > div{
    border-width:3px;
    padding:15px 25px;
    border-style:solid;
    border-color:#019966;
}

.two-columns > div{
    float:left;
    width:50%;
    min-width:320px;
}

.hl-map-split > div{
    float:left;
    width:25%;
    min-height:100%;
    border:1px solid #019966;
    border-width:0px 0px 0px 0px;
}
.hl-map-split > div:first-child{
    width:75%;
    border-width:0px 1px 0px 0px;
}

.hl-map-split.hl-mobile > div{
    width:auto;
    float:none;
    border-width:0px;
}

/*clearfix*/
.c-fix:after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width:0px){
    .two-columns > div{
        float:none;
        width:auto;
    }
}

@media (min-width:780px){
    .two-columns > div{
        float:left;
        width:50%;
    }
}


